* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --blue: #46B1DE;
}
body {
    position: relative;
    max-width: 1400px;
    min-height: auto;
    margin: 0px auto;  
}
.backgraund {
    background-image: url(../img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: inherit;
    max-width: 1400px;
    min-height: 665px;
    margin: 0px auto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: backgraund-animation;
}
@keyframes backgraund-animation {
    0% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    height: 91px;   
    top: 60px;
    left: 50%;
    transform:translate(-50%);
}
 a { 
    color: #000000;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: 'Sofia Sans';
    font-weight: 400px;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 0.9;
    color: var(--blue);
    padding-left: 20px;
}
.logo p span {
    font-weight: 400px;
    font-size: 26px;
    text-transform: lowercase;
    color: var(--blue);
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.nav a:hover { 
    color: var(--blue);
}
.nav > li + li {
    margin-right: 60px;
}
.nav > li {
    margin-right: 60px;
}
.nav > li + li + li {
    margin-right: 0px;
}
.tel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.tel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.tel > a + a {
    margin-right: 23px;
}
.tel a {
    position: relative;
    right: 40px;
}
.tel > a::before {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../img/phone.svg);
    left: -30px;
}
.lang a:first-child {
    position: relative;
    left: -15px;
    text-transform: uppercase;
    color: #000000;
}
.lang a:last-child {
    left: 0px;
    text-transform: uppercase;
    color: #000000;
}
.lang a:first-child::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #000000;
    right: -10px;
    top: 0px;
}
.lang a:first-child:focus {
    font-weight: 600;
}
.lang a:last-child:focus {
    font-weight: 600;
}
.container {
    position: relative;
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    top: 185px;
 }
 .container-block {
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: simple-animation;  
 }
 @keyframes simple-animation {
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    70% {
        margin-top: 0px;
    }
    100% {
        opacity: 1;
    }
}
 h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    letter-spacing: 10%;
 }
 h1 span {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 52px;
    color: var(--blue);
 }
 .box-ledy {
    top: -52px;
    right: 0px;
    position: absolute;
    z-index: -2;
 }
 .container p {
    margin-top: 30px;
    line-height: 22px;
 }
 .box-button {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    margin-top: 48px;
 }
 .call, .service {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%); 
    width: 180px;
    height: 60px; 
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
 }
 .service {
    color: var(--blue);
    background: #FFFFFF;
    border: 1px solid #DDE0DC;  
 }
 .container-second {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    min-height: 120px;
    margin: auto;
    margin-top: -60px;
    left: 0px;
    right: 0px;
    padding: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: second-animation;
    animation-timing-function: ease-out;
 }
 @keyframes second-animation {
    0% {
        left: -300px;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 1;
        left: 150px;
    }
    100% {
        opacity: 1;
        left: 150px;
    }
 }
 .container-second div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    height: 120px;
    background: #FFFFFF; 
    border: 1px solid #d8e1e1; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
 }  
 .container-second div p {
    margin: 0;
    text-transform: lowercase;
 }
 .container-second div .number {
    font-size: 65px;
    color: #46b1de;
 }
 h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
 }
 h2 span {
    font-size: 34px;
    font-weight: 600px;
    color: var(--blue);
    line-height: 44px;
 }
 .container-centr { 
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    z-index: -1;
 }
 .container-centr p {
    text-align: center;
    margin-top: 5px;
 }
 .box-master {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #a1c7d4;
    padding: 0px 13px;
    margin: 0px auto;
    margin-top: 50px;
    max-width: 1020px;
    min-height: 396px;
    border-radius: 12px;
}
.box-master div {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    width: 300px;
    height: 176px;
    row-gap: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
    top: 5px;
}
.box-master div p {
    display: flex;
    height: 40px;
    text-align: left;
}
.box-master div div {
    display: flex;
    justify-content: flex-start;
    width: 240px;
    height: 50px;
    border: none;
}
.box-master div div > p {
    font-size: 37px;
    color: var(--blue);
}
.box-master div > p + p {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
}
.box-master div > p + p + p {
    font-size: 15px;
    text-transform: none;
    color: #000000;
}
.box-6 {
    order: 5;
}
.box-4 {
    order: 4;
}
h3 {
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 32px;
    font-weight: 500px;
    text-transform: uppercase;
}
.content .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: url(../img/Rectangle\ 35.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 150px;
    left: 50%;
    transform: translate(-50%);
    top: 105px;
    border: 1px solid #000000;
}
.content h2 {
    margin-top: 0px;
    margin-bottom: 50px;
}
.content {
    position: absolute;
    text-align: center;
    margin-top:700px;
    align-items: center;
    left: 0px;
    right: 0px;
    z-index: -3;
}
.content-box {
    max-width: 970px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: content-animation;
    animation-timing-function: ease-out; 
}
@keyframes content-animation {
    0% {
        max-width: 1050px;
        min-height: 520px;
        margin-top: -40px;
        opacity: 0;
    }
    80% {
        opacity: 1;
    } 
    100% {
        opacity: 1;
    }   
}
.content-box h4 {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 5px;
}
.content-box div {
    width: 350px;
    height: 120px;
}
.box_1, .box_5 {
    text-align: right;
}
.box_2, .box_6 {
    text-align: left;
}
.box_3 {
    text-align: right;
    padding-right: 6%;
}
.box_4 {
    text-align: left;
    padding-left: 6%;
}
.box_1 {
    padding-right: 2%;
}
.box_2 {
    padding-left: 2%;
}
.container-second {
    position: relative;
}
.element {
    position: absolute;
    width: 328px;
    height: 328px;
    left: 50%;
    top: 92px;
    bottom: 0px;
    border-radius: 50%;
    transform: translate(-50%);
}
.element-menu {
    display: grid;
    justify-content: space-between;
    position: relative;
    width: 328px;
    height: 328px;
}
.element_menu_item {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    background-color:#46B1DE ;
    border-radius: 50%;
}
.element_menu_item:nth-last-child(5) {
    left: 14px;
}
.element_menu_item:nth-last-child(4) {
    left: 314px;
}
.element_menu_item:nth-last-child(3) {
    top: 50px;
    left: 66px;
}
.element_menu_item:nth-last-child(2) {
    top: 50px;
    left: 263px;
}
.element_menu_item:nth-last-child(1) {
    top: 278px;
    left: 66px;
}
.element_menu_item:nth-last-child(6) {
    top: 278px;
    left: 263px;
}
.element_menu_item:nth-child(n+0) {
    animation-name: item-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes item-animation {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.input-block {
    max-width: 1180px;
    position: absolute;
    margin-top: 1250px;
    text-align: center;
    left: 50%;
    transform:translate(-50%);
}
.content-second {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 570px;
    height: 86px;
    margin: 0px auto;
    margin-bottom: 100px;
    color: var(--blue);
}
.input-box {
    padding-top: 8px;
    padding-bottom: 10px;
    width: 845px;
    height: 265px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px auto;
}
input {
    width: 233px;
    height: 57px;
    border-radius: 8px;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    text-align: left;
    font-size: 19px;
    margin: 0px auto;
    padding: 0px 50px;
    border: none;
    background: #d9d9d9;
}
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.name, .mail, .button {
    display: inline-block;
}
.button {
    width: 180px;
    height: 57px;
    color: #FFFFFF;
    background-color: var(--blue);
    text-align: center;
}
.button:hover {
    background-color: #27a7de;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
.name {
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    margin-right: 70px;
    cursor: pointer;
}
.name:focus {
    border: 2px solid var(--blue);
}
.mail {
    background-image: url(../img/phone-in-talk.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    margin-right: 70px;
    cursor: pointer;
}
.mail:focus {
    border: 2px solid var(--blue);
}
.images {
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%); 
    margin-top: 1800px;
}
.images-block {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    flex-wrap: wrap;
    max-width: 980px;
    min-height: 128px;
}
footer {
    position: absolute;
    margin-top: 2040px;
    max-width: 1400px;
    width: 100%;
    min-height: 400px;
    background-position: right;
    background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
} 
.footer {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    z-index: -4;
}
.box-left {
    margin-top: 60px;
}
.box-menu {
    align-items: flex-end;
}
.logo-footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.logo-footer a p {
    font-family: 'Sofia Sans';
    text-transform: uppercase;
    font-size: 39px;
    line-height: 30px;
}
.logo-footer > a + a p {
    color: #0f2d4a;;
}
.logo-footer > a + a span {
    color: #0f2d4a;
    font-size: 26px;
    font-family: 'Sofia Sans';
    text-transform: lowercase;
}
.menu-footer ul {
    list-style: none;
    margin-right: 100px;
    text-decoration: none;
}
.menu-footer ul li a {
    color: #0f2d4a;
    font-size: 20px;
}
.menu-footer ul li a:hover {
    color: #FFFFFF;
}
.menu-footer a {
    position: relative;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
.menu-footer a:nth-child(2n) {
    position: relative;
    text-transform: uppercase;
}
.menu-footer a:nth-child(2n)::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top: 3px;
    height: 20px;
    background-color: #000000;
    left: 32px;
}
.menu-footer a:nth-child(2n):focus {
    font-weight: 600;
}
.menu-footer a:nth-child(3n) {
    text-transform: uppercase;
    left: 10px;
}
.menu-footer a:nth-child(3n):focus {
    font-weight: 600;
}
.box-left .box-menu {
    display: flex;
}
.team h5 {
    color: #0f2d4a;
    font-size: 20px;
}
.team p {
    color: #0f2d4a;
    font-size: 20px;
}
.contacts-footer {
    margin-top: 60px;
    line-height: 30px;
    margin-right: 6%;
}
.contacts-footer h4 {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    color: white;
    letter-spacing: 2px;
}
.contacts-footer a img {
    margin-right: 20px;
    width: 28px;
    height: 28px;
}
.contacts-footer .copiryght {
    margin-top: 20px;
    margin-left: 210px;
    font-size: 13px;
    font-weight: 400;
}
.contacts-footer p {
    font-style: normal;
    color: #FFFFFF;   
}
.contacts-footer a {
    color: #FFFFFF;
}
.contacts-footer .tel, .email, .inst {
    position: relative;
    left: 40px;
}
.contacts-footer .tel::before {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 325px;
    background-image: url(../img/phone-footer.png);
}
.contacts-footer .tel:hover::after {
    content: '';
    display: block;
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: #FFFFFF;
    top: 25px;
}
.contacts-footer .email::before {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 165px;
    background-image: url(../img/Email-footer.png);
}
.contacts-footer .inst::before {
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 79px;
    background-image: url(../img/instagram-footer\ 1.png);
}
@media (max-width: 992px){
    header {
        width: 95%;
    }
    .tel a {
        right: 60%;
    }
    .container-block {
        width: 95%;
        margin: 0px auto;
    }
    .container-second {
        align-content: center;
        justify-content: center;
    }
    .container-second > div {
        width: 250px;
        margin: 10px 0px;
    }
    h2 {
        margin-top: 60px;
    }
    .box-master {
        width: 80%;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
    .content {
        margin-top: 860px;
    }
    .content .circle  {
        opacity: 90%;
        border: none;
    }
    .element {
        display: none;
    }
    .input-block {
        margin-top: 1460px;
    }
    .images {
        margin-top: 2000px;
    }
    .images-block {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .images-block img {
        width: 83%;
    }
    footer {
        margin-top: 3035px;
    }
    .footer {
        width: 90%;
    }
    .contacts-footer {
        margin-right: 0%;
    }
    .input-box {
        width: 670px;
        height: 265px;
    }
    .name {
        margin-right: 0px;
        width: 30%;
    }
    .mail {
        margin-right: 0px;
        width: 30%;
    }
    .button {
        margin-top: 10px;
    }
    .nav {
        display: none;
    }
    .lang {
        display: none;
    }
    @keyframes second-animation {
        0% {
            left: -300px;
            opacity: 0;
        }
        30% {
            opacity: 0;
        }
        70% {
            opacity: 1;
            left: 5px;
        }
        100% {
            opacity: 1;
            left: 5px;
        }
     }
     .burg-menu {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        cursor: pointer;
        left: 94.5%;
        top: 10%;
    }
    .burg-menu:hover {
        cursor: pointer;
    }
    .burg-menu span {
       width: 30px;
       height: 3px;
       background-color: #000000;
       display: block;
       margin: 3px;
       transition: all 0.3s;
    }
    .burg-menu:hover span:nth-child(1) {
        transform: translate(1px, -1px) rotate(-45deg);
        transform-origin: right top;
    }
    .burg-menu:hover span:nth-child(2) {
        transform: scale(0);
    }
    .burg-menu:hover span:nth-child(3) {
        transform: translate(10px, -20px) rotate(45deg);
        transform-origin: left bottom;
    }
}
@media (max-width: 768px) {
    .tel a {
        right: 60%;
    }
    .container-second > div {
        width: 31%;
    }
    .box-master {
        width: 87%;
    }
    .footer {
        width: 94%;
    }
    footer {
        margin-top: 2970px;
    }
}
@media (max-width: 480px) {
    .burg-menu {
        left: 90%;
        top: -20%;
    }
    .content {
        margin-top: 1100px;
    }
    .content-box {
        justify-content: center;
    }
    .content .circle {
        top: 290px;
    }
    .input-block {
        margin-top: 1945px;
    }
    .input-box {
        width: 350px;
        height: 400px;
    }
    .images {
        margin-top: 2620px;
    }
    footer {
        margin-top: 2800px;
    }
    header {
        max-width: 400px;
        top: 30px;
        height: 40px;
    }
    .logo img {
        width: 28px;
        height: 31px;
    }
    .logo p {
        font-size: 16px;
        padding-left: 5px;
    }
    .logo p span {
        font-size: 11px;
    }
    .logo {
        align-items: flex-start;
    }
    .tel {
        margin: 0px;
    }
    .tel a {
        font-size: 12px;
        align-items: flex-end;
        margin-right: -10px;
    }
    .tel > a + a {
        margin: 0;
    }
    .tel img {
        width: 12px;
        height: 12px;
        margin-left: 20px;
    }
    .container {
        top: 115px;
    }
    .container-second div .number {
        font-size: 45px;
    }
    .container-second div {
        flex-direction: column;
        justify-content: flex-start;
        height: 120px;
    }
    h1 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    h1 span {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }
    .container p {
        margin: 0px auto;
        width: 329px;
        margin-top: 5px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .box-button {
        margin: 0px auto;
        margin-top: 5px;
        max-width: 300px;
    }
    .call, .service {
        width: 100px;
        height: 35px;
        font-size: 14px;
        font-weight: 600px;
        border-radius: 4.5px;
        box-shadow: 0px 1.14444px 5.72222px #46B1DE;
    }
    .box-ledy {
        width: 208px;
        height: 199px;
        top: 254px;
        right: 64px;
    }
    .container-second {
        margin-top: -70px;
    }
    .box-master div {
        height: 120px;
    }
    .box-master div div {
        width: 212px;
    }
    @keyframes second-animation {
        0% {
            left: -300px;
            opacity: 0;
        }
        30% {
            opacity: 0;
        }
        70% {
            opacity: 1;
            left: 0px;
        }
        100% {
            opacity: 1;
            left: 0px;
        }
     }
    .backgraund {
        min-height: 568px;
    }
    h2 {
        margin-top: 50px;
        font-size: 18px;
    }
    h2 span {
        font-size: 18px;
    }
    .container-centr {
        max-width: 310px;
    }
    p {
        font-size: 12px;
    }
    footer {
        height: 568px;
        margin-top: 3250px;
        background: linear-gradient(180deg, #A1C7D4 0%, #0680AA 100%);
    }
    .logo-footer > a + a p {
        font-size: 27px;
        line-height: 24px;
    }
    .logo-footer > a + a span {
        font-size: 19px;
    }
    .logo-footer a img {
        width: 50px;
        height: 56px;
    }
    .logo-footer {
        justify-content: left;
        margin-bottom: 0px;
    }
    .box-left {
        width: 300px;
        margin-top: 30px;
        margin: 30px auto 0px;
    }
    .menu-footer ul li a  {
        font-size: 14px;
    }
    .menu-footer > a {
        font-size: 14px;
    }
    .team h5 {
        font-size: 14px;
    }
    .team p {
        font-size: 14px;
   }
   .contacts-footer {
    margin: 0px auto;
    width: 300px;
    margin-top: 40px;
   }
   .contacts-footer h4 {
    font-size: 21px;
   }
   .contacts-footer p {
    font-size: 17px;
    font-weight: 400;
   }
   .contacts-footer .copiryght {
    margin-left: 190px;
    margin-top: 20px;
   }
   .contacts-footer a img {
    margin-left: 0px;
    width: 20px;
    height: 20px;
   }
   h3 {
    font-size: 18px;
   }
   input {
    font-size: 12px;
   }
   .name {
    margin-bottom: 10px;
    width: 80%;
   }
   .mail {
    width: 80%;
   }
   .button {
    width: 280px;
   }
   .contacts-footer .tel::before {
    width: 22px;
    height: 22px;
    background-size: contain;
    right: 320px;
   }
   .contacts-footer .inst::before {
    width: 22px;
    height: 22px;
    background-size: contain;
    right: 85px;
   }
   .contacts-footer .email::before {
    width: 24px;
    height: 24px;
    background-size: contain;
    right: 168px;
   }
   .menu-footer a:nth-child(2n)::after {
    left: 24px;
    top: 0px;
   }
}
